
@import "tailwindcss";

@font-face {
  font-family: 'Mamelon';
  src: url('/fonts/mamelon.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #b0d9da;
  --color-gray: #737373;
  --color-light-cian: #f2f6f6;
}

:root {
  --font-mamelon: 'Mamelon', serif;
}
